accelerate==1.6.0
causal-conv1d==1.5.0.post8
datasets==3.5.0
flash_attn==2.7.4.post1
kaleido==0.2.1
mamba-ssm==2.2.4
megablocks==0.9.0
numpy==2.0.2
orjson==3.10.16
pandas==2.2.3
plotly==6.0.1
protobuf==6.30.2
pyarrow==19.0.1
safetensors==0.5.3
sentencepiece==0.2.0
stanford-stk==0.7.1
torch==2.6.0
transformers==4.51.3
